.footer{
  margin: 3.6rem 0;

  @include mobile{
    margin: 1.4rem 0;
  }

  &__content{
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile{
      grid-column: 1 / -1;
      gap: .8rem 0;
    }

    &__information{
      display: flex;
      flex-direction: column;
      gap: 1rem 0;

      @include mobile{
        gap: .6rem 0;
      }

      &__logo{
        width: 7.8rem;
        height: 2.3rem;
        transition: .5s;

        @include mobile{
          width: 6.15rem;
          height: 1.8rem;
        }

        &:hover{
          opacity: .5;
        }

        a{
          width: 100%;
          height: 100%;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }

      &__title{
        max-width: 13.75rem;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 1rem;
        line-height: 130%;
      }
    }

    &__contacts{
      display: flex;
      justify-content: space-between;
      gap: 0 3.1rem;

      @include mobile{
        justify-content: initial;
      }

      &__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 10.85rem;

        @include mobile{
          max-width: 8.3rem;
        }
      }

      &__social{
        display: flex;
        flex-direction: column;
        gap: .4rem 0;

        a{
          width: fit-content;
          font-family: Open Sans;
          font-weight: 400;
          font-size: .8rem;
          line-height: 100%;
          letter-spacing: -.01em;
          color: $c-b;
          transition: .5s;

          @include mobile{
            font-size: .7rem;
          }

          &:hover{
            opacity: .5;
          }
        }
      }

      &__address{
        font-family: Open Sans;
        font-weight: 400;
        font-size: .8rem;
        line-height: 100%;
        letter-spacing: -.01em;
        color: #9F9F9F;

        @include mobile{
          font-size: .7rem;
        }
      }

      &__navigation{
        display: flex;
        flex-direction: column;
        gap: 1.4rem 0;

        @include mobile{
          gap: 1.2rem 0;
        }

        &__link{
          width: fit-content;
          font-family: Open Sans;
          font-weight: 400;
          font-size: .8rem;
          line-height: 100%;
          letter-spacing: -.01em;
          color: $c-b;
          transition: .5s;

          @include mobile{
            font-size: .7rem;
          }

          &:hover{
            opacity: .5;
          }
        }
      }
    }
  }

  .form{
    grid-column: 8 / -1;
    position: relative;
    padding: 2.6rem;
    border-radius: .8rem;
    background-color: #2E67F8;

    @include mobile{
      grid-column: 1 / -1;
      margin-top: 2rem;
      padding: 2rem .8rem;
    }

    &__title{
      font-family: Open Sans;
      font-weight: 600;
      font-size: .9rem;
      line-height: 130%;
      color: $c-w;

      @include mobile{
        font-size: .8rem;
      }
    }

    .attach-file-cf7__attach-text{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .7rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: $c-w;
    }

    .attach-file-cf7__name{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .6rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: $c-w;
    }

    .attach-file-cf7__action{

      span{
        font-family: Open Sans;
        font-weight: 400;
        font-size: .6rem;
        line-height: 100%;
        letter-spacing: -.01em;
        color: $c-w;
      }
    }

    .wpcf7-form{
      margin-top: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: .4rem 0;

      .input{
        width: 100%;
        padding: .55rem .6rem;
        border-radius: .2rem;
        background-color: #FFFFFF29;
        border: none;
        color: $c-w;
        font-family: Open Sans;
        font-weight: 400;
        font-size: .7rem;
        line-height: 100%;
        letter-spacing: -.01em;

        &::placeholder{
          color: #FFFFFF80;
        }

        &.wpcf7-not-valid{
          color: #9b0000;

          &::placeholder{
            color: #9b0000;
          }
        }
      }

      textarea{
        height: 4.3rem;
        resize: none;
      }

      .form__check{
        margin-top: .8rem;
      }

      .button-send{
        margin-top: .8rem;
        padding: .85rem 0;
        background-color: $c-w;
        font-family: Open Sans;
        font-weight: 400;
        font-size: .8rem;
        line-height: 135%;
        letter-spacing: -.01em;
        border-radius: .4rem;
        border: none;
        color: #004CD3;
      }
    }

    .form__check{
      display: flex;
      align-items: center;
      gap: 0 .6rem;
      border: none;
      padding: 0;

      @include mobile{
        gap: 0 .4rem;
      }

      &.error{

        .form__check__title{
          color: #9b0000;
        }
      }

      &.active{

        .form__check__icon{

          path{
            opacity: 1;
          }
        }

      }

      &__icon{
        width: 1.2rem;
        height: 1.2rem;
        flex-shrink: 0;
        border: .05rem solid rgba(255, 255, 255, 0.4);
        border-radius: .2rem;

        @include mobile{
          width: 1rem;
          height: 1rem;
        }

        path{
          opacity: 0;
          transition: .5s;
        }
      }

      &__title{
        font-family: Open Sans;
        font-weight: 400;
        font-size: .7rem;
        line-height: 130%;
        color: #FFFFFF;
        text-align: left;

        @include mobile{
          font-size: .6rem;
        }
      }
    }

    [data-name=checkbox-498] {
      display: none !important;
    }
  }
}

.wpcf7-not-valid-tip{
  display: none;
}

.invalid{

  .wpcf7-response-output{
    display: none;
  }
}

.after-footer{
  background-color: #010E37;
  padding-top: .6rem;
  padding-bottom: .6rem;

  @include mobile{
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: .5rem .6rem;
  }

  &__information{
    grid-column: 1 / 4;
    font-family: Open Sans;
    font-weight: 400;
    font-size: .6rem;
    line-height: 135%;
    color: #F0F3F980;

    @include mobile{
      grid-column: 1 / -1;
      grid-row: 1 / 1;
    }
  }

  &__develop{
    grid-column: 6 / 8;
    text-align: center;
    align-self: center;
    font-family: Open Sans;
    font-weight: 400;
    font-size: .6rem;
    line-height: 135%;
    color: #F0F3F980;
    transition: .5s;

    @include mobile{
      grid-column: 1 / -1;
      grid-row: 3 / 3;
      text-align: initial;
    }

    &:hover{
      opacity: .5;
    }
  }

  &__links{
    grid-column: 10 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile{
      grid-column: 1 / -1;
      grid-row: 2 / 2;
      align-items: initial;
    }

    a{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .6rem;
      line-height: 135%;
      color: #F0F3F980;
      transition: .5s;

      &:hover{
        opacity: .5;
      }
    }
  }
}
