.header{
  position: fixed;
  width: 100%;
  padding-top: .6rem;
  padding-bottom: .6rem;
  align-items: center;
  z-index: 999;
  transition: .5s;

  &.active{
    background-color: #F5F5F5B2;
    backdrop-filter: blur(24px)
  }

  &__logo{
    grid-column: 1 / 3;

    a{
      width: 6.45rem;
      height: 1.7rem;
      transition: .5s;

      @include mobile{
        width: 4.1rem;
        height: 1.1rem;
      }

      &:hover{
        opacity: .5;
      }

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  &__navigation{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0 1.5rem;
    grid-column: 4 / 9;
    padding: .65rem 1.2rem;
    border-radius: 1.75rem;
    background: #2E67F80F;
    backdrop-filter: blur(24px);

    @include mobile{
      display: none;
    }

    &__link{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .8rem;
      line-height: 100%;
      letter-spacing: -.01em;
    }
  }

  &__information{
    grid-column: 9 / -1;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 0 .6rem;

    @include mobile{
      grid-column: 3 / -1;
      gap: 0 .2rem;
    }

    &-wrapper{
      text-align: right;
      display: flex;
      flex-direction: column;

      @include mobile{
        display: none;
      }
    }

    &__link{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .7rem;
      line-height: 100%;
      letter-spacing: -.01em;
      transition: .5s;

      &:hover{
        opacity: .5;
      }
    }

    &__button{
      padding: .65rem 1rem;
      background: #2E67F8;
      border-radius: .2rem;
      display: flex;
      align-items: center;
      gap: 0 .3rem;
      font-family: Open Sans;
      font-weight: 400;
      font-size: .8rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: $c-w;

      @include mobile{
        font-size: .6rem;
        padding: .5rem .6rem;
      }

      svg{
        width: .6rem;
        height: .6rem;

        @include mobile{
          width: .4rem;
          height: .4rem;
        }
      }
    }
  }
}
