.page-contacts{

  .contacts{

    &__content{
      grid-column: 1 / 6;
      background-color: #F7F9FC;
      border-radius: .8rem;
      padding: 1.6rem 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile{
        grid-column: 1 / -1;
        padding: 1.2rem .6rem;
        gap: 1.2rem 0;
      }

      &__social{
        display: flex;
        flex-direction: column;
        gap: 1.2rem 0;

        &__item{
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 0 .8rem;
          transition: .5s;

          @include mobile{
            gap: 0 .4rem;
          }

          &:hover{
            opacity: .5;
          }

          svg{
            width: 2.3rem;
            height: 2.3rem;

            @include mobile{
              width: 2rem;
              height: 2rem;
            }
          }

          &__title{
            font-family: Open Sans;
            font-weight: 400;
            font-size: .9rem;
            line-height: 130%;
            color: $c-b;

            @include mobile{
              font-size: .7rem;
            }
          }
        }
      }

      &__inner{
        display: flex;
        flex-direction: column;
        gap: .6rem 0;
        max-width: 60%;
        font-family: Open Sans;
        font-weight: 400;
        font-size: .9rem;
        line-height: 130%;
        color: $c-b;

        @include mobile{
          max-width: 70%;
          font-size: .7rem;
        }
      }
    }

    &__map{
      grid-column: 6 / -1;
      width: 100%;
      height: 26.1rem;
      border-radius: .8rem;
      overflow: hidden;

      @include mobile{
        grid-column: 1 / -1;
        margin-top: .6rem;
        height: 15.6rem;
      }

      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
}
