.page-gallery{

  .gallery{

    &__navigation{
      margin-bottom: 1.6rem;
      width: fit-content;
      border: 0.05rem solid #D4DCED;
      padding: .15rem;
      border-radius: 0.3rem;
      display: flex;
      align-items: center;
      gap: 0 .2rem;

      @include mobile{
        margin-bottom: 1rem;
      }

      &__button{
        width: 8.5rem;
        text-align: center;
        padding: .45rem 0;
        border: none;
        border-radius: 0.3rem;
        font-family: Open Sans;
        font-weight: 400;
        font-size: .8rem;
        line-height: 100%;
        letter-spacing: -.01em;
        transition: .5s;

        @include mobile{
          width: 5.3rem;
          padding: .6rem 0;
          font-size: .6rem;
        }

        &:hover{
          opacity: .5;
        }

        &.active{
          background-color: #E3EDFF;
          color: #2E67F8;
        }
      }
    }

    &__group{
      display: none;
      gap: .6rem .6rem;

      &.active{
        display: grid;
      }

      a{
        grid-column: span 2;
        height: 11.7rem;

        @include mobile{
          grid-column: span 3;
          height: 10.2rem;
        }
      }

      &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
