.page-news{

  .news{
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    background-color: #F7F9FC;
    border-top-left-radius: 2.6rem;
    border-top-right-radius: 2.6rem;

    @include mobile{
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }

    &__inner{
      gap: .6rem .6rem;

      @include mobile{
        gap: .8rem .6rem;
      }
    }

    &__item{
      grid-column: span 4;
      padding: 1.2rem 1.2rem .5rem 1.2rem;
      border-radius: .6rem;
      background-color: $c-w;
      min-height: 12.9rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      @include mobile{
        grid-column: 1 / -1;
        padding: 1.2rem;
      }

      &__content{
        display: flex;
        flex-direction: column;
        gap: .8rem 0;

        &__title{
          font-family: Open Sans;
          font-weight: 700;
          font-size: 1rem;
          line-height: 130%;
          color: $c-b;

          @include mobile{
            font-size: .8rem;
          }
        }

        &__description{
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: .7rem;
          line-height: 1.2;
          letter-spacing: -0.01em;
          color: #64748B;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      &__date{
        font-family: Open Sans;
        font-weight: 400;
        font-size: .7rem;
        line-height: 100%;
        letter-spacing: -.01em;
        color: #64748B;
      }
    }

    &__button-more{
      margin-top: 1.6rem;
      width: 100%;
      text-align: center;
      padding: .85rem 0;
      border: .05rem solid #2E67F8;
      font-family: Open Sans;
      font-weight: 400;
      font-size: .8rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: #2E67F8;
      border-radius: .4rem;
    }
  }
}

.news__item{
  grid-column: span 4;
  padding: 1.2rem 1.2rem .5rem 1.2rem;
  border-radius: .6rem;
  background-color: $c-w;
  min-height: 12.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @include mobile{
    grid-column: 1 / -1;
    padding: 1.2rem;
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: .8rem 0;

    &__title{
      font-family: Open Sans;
      font-weight: 700;
      font-size: 1rem;
      line-height: 130%;
      color: $c-b;

      @include mobile{
        font-size: .8rem;
      }
    }

    &__description{
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: .7rem;
      line-height: 1.2;
      letter-spacing: -0.01em;
      color: #64748B;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__date{
    font-family: Open Sans;
    font-weight: 400;
    font-size: .7rem;
    line-height: 100%;
    letter-spacing: -.01em;
    color: #64748B;
  }
}

.single-news{
  background-color: #F7F9FC;

  .news-content__inner{
    padding-left: 15.35rem;
    padding-right: 15.35rem;

    @include mobile{
      padding-left: .6rem;
      padding-right: .6rem;
    }
  }

  .news-content__back{
    width: fit-content;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0 .4rem;
    font-family: Open Sans;
    font-weight: 400;
    font-size: .7rem;
    line-height: 140%;
    letter-spacing: -.02em;
    color: #64748B;
    transition: .5s;

    &:hover{
      opacity: .5;
    }

    svg{
      width: 1rem;
      height: 1rem;
    }
  }

  .news-content{
    padding: 1.6rem;
    border-radius: .8rem;
    background-color: $c-w;
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;

    @include mobile{
      padding: .8rem;
      gap: 1.2rem 0;
    }

    &__title{
      font-family: Open Sans;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 130%;
      color: $c-b;

      @include mobile{
        font-size: 1.2rem;
      }
    }

    &__date{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .7rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: #64748B;
    }

    &__information{
      display: flex;
      flex-direction: column;
      gap: 1.6rem 0;
      font-family: Open Sans;
      font-weight: 400;
      font-size: .8rem;
      line-height: 140%;
      color: #64748B;

      @include mobile{
        gap: 1.2rem 0;
        font-size: .7rem;
      }

      img{
        width: 100%;
        height: 17rem;
        object-fit: cover;
        object-position: center center;
        border-radius: .8rem;

        @include mobile{
          height: 12rem;
        }
      }
    }
  }

  .read-more{
    margin-top: 3.5rem;
    padding-bottom: 2rem;

    @include mobile{
      margin-top: 3.2rem;
      padding-bottom: 2.8rem;
    }

    &__title{
      margin-bottom: 2rem;
      font-family: Open Sans;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 100%;
      letter-spacing: -.02em;
      color: $c-b;

      @include mobile{
        margin-bottom: 1.6rem;
      }
    }
  }
}
