$c-w: #FFFFFF;
$c-b: #000000;

@font-face {
  font-family: Open Sans;
  src: url("../src/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Open Sans;
  src: url("../src/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Open Sans;
  src: url("../src/fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@mixin laptop {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

html {
  font-size: 1.39vw;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  @include laptop {
    font-size: 1.46vw;
  }
  @include mobile {
    font-size: 5.56vw;
  }
}

body{
  background-color: $c-w;
  scroll-behavior: smooth;

  &.fixed{
    overflow-y: hidden;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;

  @include mobile{
    padding: 0 .6rem;
  }
}

.grid-12{
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 .6rem;


  @include mobile {
    grid-template-columns: repeat(6, 1fr);
  }
}

.anchor{
  position: absolute;
  top: 0;
  pointer-events: none;
  visibility: hidden;

  @include mobile{
    top: -3rem;
  }
}

.main-top{
  padding-top: 5.6rem;

  @include mobile {
    padding-top: 4.6rem;
  }
}

.page-title{
  margin-bottom: 1.6rem;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -.02em;

  @include mobile {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }
}

.page-error{
  padding-top: 9.5rem;
  padding-bottom: 5.5rem;

  @include mobile{
    padding-top: 7rem;
    padding-bottom: 5rem;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .error{

    &__inner{
      display: flex;
      flex-direction: column;
      gap: 1.6rem 0;
      max-width: 28rem;
    }

    &__title{
      font-family: Open Sans;
      font-weight: 400;
      font-size: 6rem;
      line-height: 130%;
      letter-spacing: -.02em;
      color: $c-b;
    }

    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: .8rem 0;
    }

    &__sub-title{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .8rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: $c-b;
    }

    &__description{
      font-family: Open Sans;
      font-weight: 400;
      font-size: .7rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: $c-b;
    }

    &__link{
      width: 100%;
      text-align: center;
      padding: .85rem 0;
      background-color: #2E67F8;
      border-radius: .4rem;
      font-family: Open Sans;
      font-weight: 400;
      font-size: .8rem;
      line-height: 100%;
      letter-spacing: -.01em;
      color: $c-w;
      transition: .5s;

      &:hover{
        opacity: .5;
      }
    }

    &__icon{
      padding-right: 8.8rem;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 17.4rem;
      line-height: 115%;
      letter-spacing: -.01em;
      color: #2E67F80F;

      @include mobile{
        display: none;
      }
    }
  }
}

@import "inc/_header";
@import "pages/_main";
@import "pages/_news";
@import "pages/_gallery";
@import "pages/_contacts";
@import "inc/_footer";
